.chat__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: rgba(3, 13, 49, 1);
}
.chat__form__input {
  width: 100%;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding: 13px 15px;
  transition: border-color 0.5s ease;
}

.chat__form__input:focus {
  border: 1px solid #0038ff;
}
.chat__form__button {
  width: 80%;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 40px;
  padding: 15px 25px;
  background: #0038ff;
}
.error-message {
  color: red;
}
.message-true {
  color: rgb(62, 163, 23);
}
